<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <p class="large left-aligned text-muted">
        We are an established multifaceted architectural firm with a track record of successful projects and client satisfaction. What sets us apart from the competition is simple. We are passionate about our work and are dedicated to our clients' success
        </p>

        <p class="large left-aligned text-muted">
Our team consists of well-rounded professionals experienced in every phase of project delivery. We guide our clients in every step of the way from concept to reality and understand the importance of continuity in projects. We take an entrepreneurial approach to encourage creative collaboration that not only meets clients' expectations, but also beyond. We strive to provide the best customer service experience through attentiveness and responsiveness, we listen!
        </p>
      </div>
    </div>
</section>
