<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large left-aligned text-muted">
          <strong>Our Mission</strong>: <em >Serving the World and Enriching Lives through Design</em>
        </p>
        <p class="large left-aligned text-muted">
        We value your time and pride ourselves by delivering well-thought-out designs in a timely manner and at a great value to our clients. We are an established multifaceted architectural firm with a track record of successful projects and client satisfaction. What sets us apart from the competition is simple. We are passionate about our work and are dedicated to our clients' success. We are here to serve you and to make your investments well worth the commitment.
        </p>

        <p class="large left-aligned text-muted">
<strong>Our founder</strong>: Angelica Batac, RA, AIA, NCARB is an award-winning Architect with projects that include private and publicly funded multifamily/residential apartments, student housing, senior living facilities and commercial office spaces. Being NCARB certified means we have met the highest professional standard set by the registration board and can meet your needs if your project cross state lines.
        </p>
        <p class="large left-aligned text-muted">
<strong>Our team</strong>: We are a well-rounded group of professionals experienced in every phase of project delivery. As a client, you will work with the same team from start to finish since we understand the importance of continuity in projects. We will guide you in every step of the way from concept to reality. We take an entrepreneurial approach to encourage creative collaboration that not only meets clients’ expectations, but also beyond. We strive to provide the best customer service experience through attentiveness and responsiveness -- we listen!
        </p>
        <p class="large left-aligned text-muted">
<strong>Consultants</strong>: A large part of our success comes from the fact that we have worked closely with the best consultants in the industry today to insure your project is safe and sound. The Professionals we work with include Civil, Structural, MEP Engineers as well as Landscape Architects and Interior Designer and others as needed. We have a working relationship with all of the consultants, whom have extensive knowledge in multifamily projects with over 30+ years of experience.  Investing with the right Architect is crucial from the start and we are your partners in your investment venture. You will receive the attention you deserve, expertise and know how you expect and experience you will never forget. Let us create lasting value through design and mitigate risk through our expertise. Choose the right Architect and invest well with InvestWell Architects, LLC. Designs for Life.
        </p>
      </div>
    </div>
</section>
