<!-- Careers Section -->
<section id="careers">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Careers</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h3 class="">Remote Architectural Intern / Designer</h3>
        <h4 class="">Compensation: $50,000 annually</h4>
        <br>
        <p class="large left-aligned text-muted">
        InvestWell Architects LLC is a newly established full service
        architectural firm located in Richmond Texas. We are looking to grow
        with talented hard working associates who puts an emphasis on client
        relationships.
        </p>

        <p class="large left-aligned text-muted">
        Our ideal associate must have a passion for design, be a versatile professional
        and have an entrepreneurial spirit. Candidates must have earned an architecture
        degree and have three to five years relevant experience. We are in immediate
        need for an Architectural Intern / Designer with excellent AutoCad drafting
        skills. Knowledge and skills in Revit is a plus.
        </p>

        <p class="large left-aligned text-muted">
        The associate will meet with clients and grow to manage multiple projects. In
        addition to AutoCad skills, the prospective professional will be designing
        projects from start to finish. This is a growth opportunity working on a range
        of commercial multifamily projects, student housing, hospitality and assisted
        living facilities.
        </p>

        <p class="large left-aligned text-muted">
        InvestWell Architects are talented professionals that understand the ultimate
        goals of our clients. We live by our mission of "Designs for Life". We strive
        for excellence in producing quality architectural services and built
        environments that are impactful, meaningful, and truly worth our clients
        investment. We are successful because we encourage an environment where
        everyone has a voice, opinion, vision and an opportunity to contribute.
        </p>

        <p class="large left-aligned text-muted">
        Mandatory Skills and Qualifications:
        </p>

        <ul class="left-aligned text-muted">
          <li> Three years of relevant professional experience
          </li>
          <li>
            Registered Architect is a plus
          </li>
          <li>
            Must be knowledgeable and proficient in AutoCad. Revit is a plus
          </li>
          <li>
            Excellent communication and people skills
          </li>
          <li>
            Eligible to work in the United States of America
          </li>
        </ul>

        <ul class="left-aligned text-muted">
          <li>
            Ability to effectively solve technical issues
          </li>
          <li>
            Ability to manage time and meet deadlines
          </li>
        </ul>

        <p class="large left-aligned text-muted">
        Salary is commensurate upon experience.
        </p>

        <p class="large left-aligned text-muted">
          To apply for the position, please reach out to <a href="mailto:angelica.batac@investwellarchitects.com">angelica.batac@investwellarchitects.com</a>.
        </p>
      </div>
    </div>
</section>
