<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Us</h2>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Information</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="list-group-item contact-info">
          <dl class="dl-horizontal text-muted">
            <dt>Address:</dt>
            <dd>
            <a href="https://www.google.com/maps/place/24275+Katy+Fwy+%23400,+Katy,+TX+77494/@29.7846067,-95.7918828,17z/data=!3m1!4b1!4m5!3m4!1s0x864126ec7ee5e947:0xf14c56a49195021a!8m2!3d29.7846021!4d-95.7896941">24275 Katy Freeway Suite 400 Katy, Texas 77494</a>
            </dd>
          </dl>
          <dl class="dl-horizontal text-muted">
            <dt>Telephone</dt>
            <dd>346-387-7177</dd>
          </dl>
          <dl class="dl-horizontal text-muted">
            <dt>Email:</dt>
            <dd><a href="mailto:angelica.batac@investwellarchitects.com">angelica.batac@investwellarchitects.com</a>
            </dd>
          </dl>
        </div>
      </div>

      <div class="col-lg-6 hide-when-not-wide">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3462.7592545353937!2d-95.79188278489097!3d29.78460208197756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864127ba06077e17%3A0x3a4d215602711bc3!2sInvestWell+Architects%2C+LLC!5e0!3m2!1sen!2sus!4v1525003604644" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row contact-us-now">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Contact Us Now!</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <form action="https://investwellarchitects-email.herokuapp.com/send" name="sentMessage" id="contactForm" method='post' novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name='name' class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="email" name='email' class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="tel" name='phone_number' class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" name='subject' placeholder="Subject *" id="subject" required data-validation-required-message="Please enter a subject.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-xl">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
